### Imoprt library Pandas and use method read_html

In [2]:
import pandas as pd
tables = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", header = 0)
type(tables)

list

In [3]:
len(tables)

3

In [4]:
df = tables[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
Postal code     180 non-null object
Borough         180 non-null object
Neighborhood    103 non-null object
dtypes: object(3)
memory usage: 4.3+ KB

### Delete rows that contain a value = 'Not assigned'

In [6]:
indexNames = df[df['Borough'] == 'Not assigned'].index
df.drop(indexNames, inplace = True)
df.head(10)

   Postal code           Borough                                  Neighborhood
2          M3A        North York                                     Parkwoods
3          M4A        North York                              Victoria Village
4          M5A  Downtown Toronto                    Regent Park / Harbourfront
5          M6A        North York             Lawrence Manor / Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
8          M9A         Etobicoke                              Islington Avenue
9          M1B       Scarborough                               Malvern / Rouge
11         M3B        North York                                     Don Mills
12         M4B         East York              Parkview Hill / Woodbine Gardens
13         M5B  Downtown Toronto                      Garden District, Ryerson

### Reset Index in Data Frame

In [7]:
df.reset_index(drop=True, inplace=True)
df.head(10)

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
5         M9A         Etobicoke                              Islington Avenue
6         M1B       Scarborough                               Malvern / Rouge
7         M3B        North York                                     Don Mills
8         M4B         East York              Parkview Hill / Woodbine Gardens
9         M5B  Downtown Toronto                      Garden District, Ryerson

### Insert a coma instead a slash

In [8]:
df['Neighborhood'] = df['Neighborhood'].str.replace(' /', ',', regex = True)
df.head(10)

  Postal code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
5         M9A         Etobicoke                             Islington Avenue
6         M1B       Scarborough                               Malvern, Rouge
7         M3B        North York                                    Don Mills
8         M4B         East York              Parkview Hill, Woodbine Gardens
9         M5B  Downtown Toronto                     Garden District, Ryerson

### Check the Column 'Neighborhood' for value 'Not assigned'

In [9]:
n = 0
for v in df['Neighborhood']:
    if v == 'Not assigned':
        n = n + 1
print(n)

0

In [10]:
df.shape

(103, 3)

### Read CSV file with geodata

In [15]:
df_geo = pd.read_csv('http://cocl.us/Geospatial_data')
df_geo.head(20)

   Postal Code   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
5          M1J  43.744734 -79.239476
6          M1K  43.727929 -79.262029
7          M1L  43.711112 -79.284577
8          M1M  43.716316 -79.239476
9          M1N  43.692657 -79.264848
10         M1P  43.757410 -79.273304
11         M1R  43.750072 -79.295849
12         M1S  43.794200 -79.262029
13         M1T  43.781638 -79.304302
14         M1V  43.815252 -79.284577
15         M1W  43.799525 -79.318389
16         M1X  43.836125 -79.205636
17         M2H  43.803762 -79.363452
18         M2J  43.778517 -79.346556
19         M2K  43.786947 -79.385975

#### The data in the received data frame is sorted alphabetically by the Postal Code column.

### Sort Data Frame "df" by column "Postal code"

In [14]:
df.sort_values(['Postal code', 'Borough', 'Neighborhood'], ascending = [True, False, False], inplace = True)
df.head()

   Postal code      Borough                            Neighborhood
6          M1B  Scarborough                          Malvern, Rouge
12         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
18         M1E  Scarborough       Guildwood, Morningside, West Hill
22         M1G  Scarborough                                  Woburn
26         M1H  Scarborough                               Cedarbrae

### Reset Index again

In [18]:
df.reset_index(drop=True, inplace=True)
df.head(10)

  Postal code      Borough                                     Neighborhood
0         M1B  Scarborough                                   Malvern, Rouge
1         M1C  Scarborough           Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough                Guildwood, Morningside, West Hill
3         M1G  Scarborough                                           Woburn
4         M1H  Scarborough                                        Cedarbrae
5         M1J  Scarborough                              Scarborough Village
6         M1K  Scarborough      Kennedy Park, Ionview, East Birchmount Park
7         M1L  Scarborough                  Golden Mile, Clairlea, Oakridge
8         M1M  Scarborough  Cliffside, Cliffcrest, Scarborough Village West
9         M1N  Scarborough                      Birch Cliff, Cliffside West

### Insert geodata into the data frame

In [20]:
df['Latitude'] = df_geo['Latitude']
df['Longitude'] = df_geo['Longitude']
df.head(10)

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.727929,-79.262029
7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848